*, *::before, * ::after {
    box-sizing: border-box;
}

body, .clear-btn, .submit-btn, input {
    font-family: 'Amatic SC', cursive;
}
body {
    height: 97.4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('./grocery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-center {
    width: 80%;
    background-color: hsla(0, 0%, 13%, 0.856);
    padding: 2em;
    border-radius: 10px;
    color: whitesmoke;
    position: relative;
}
@media screen and (min-width: 900px) {
    .section-center {
        width: 60%;
    }
}

.alert {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-block: 0;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
}
.alert-danger {
    color: crimson;
    background-color: hsla(348, 82%, 80%, 0.801);
}
.alert-success {
    color:darkgreen;
    background-color: hsla(120, 100%, 80%, 0.836);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

input, .submit-btn {
    font-size: 1.5rem;
}
.form-control {
    display: flex;
    justify-content: center;
}
input {
    border: 1px solid white;
}
.submit-btn {
    border: 2px solid greenyellow;
    border-radius: 0px 5px 5px 0px;
    color: black;
    font-weight: bold;
    background-color: greenyellow;
}
.submit-btn:hover {
    background-color: hsl(84, 100%, 39%);
    border-color: hsl(84, 100%, 39%);
}

.grocery-container {
    display: none;
}
.show-container {
    display: initial;
}

.grocery-item {
    margin-block: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.grocery-item p {
    font-weight: bold;
    font-size: 1.3rem;
}

.edit-btn, .delete-btn {
    border: none;
    padding: .6em;
    background-color: transparent;
}
.edit-btn {
    color: orange;
}
.delete-btn {
    color: red;
}

.clear-btn {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #212121;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    padding-block: .3em;
    display: block;
    position: relative;
    margin-inline: auto;
}

button:hover {
    cursor: pointer;
}
.clear-btn:hover {
    background-color: hsl(0, 46%, 12%);
}

@media screen and (min-width: 900px) {
    .grocery-item p {
        font-size: 2rem;
    }
    .edit-btn, .delete-btn {
        font-size: 1.2rem;
    }
    .clear-btn {
        font-size: 1.6rem;
    }
}