html {
    scroll-behavior: smooth;
}
*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif;
    margin: 0;
    background-color: hsl(263, 64%, 4%);
    color: whitesmoke;
}

label, input, button, .brewery-title, .brewery-link {
    font-family: 'Josefin Sans', sans-serif;
}

/*****HEADER AND FORM****/

header {
    width: 100%;
    height: 60vh;
    background-image: url('brewery1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #212121d5;
    background-blend-mode: hard-light;
    /* border-radius: 0 0 80% 80% / 20%; */
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form label {
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 10px black;
}
.form legend {
    margin-block: .5em;
    text-shadow: 0px 0px 5px black;
}
.form input {
    font-size: 1.2rem;
}
.form button {
    background-color: #212121cc;
    font-weight: bold;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
    text-transform: uppercase;
    padding-block: .5em;
    padding-inline: 1em;
    margin-top: 1em;
}

.form button:hover,
.form button:focus {
    cursor: pointer;
    background-color: yellow;
    color: black;
}

/**RESULTS***/

.brewery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brewery-item {
    width: 90%;
    margin-block: .5em;
    border: 3px solid whitesmoke;
    padding-inline: 1em;
    padding-bottom: 1em;
    letter-spacing: 1px;
}

a {
    color: whitesmoke;
}

.brewery-link {
    display: block;
}

.brewery-map {
    font-family: initial;
    margin-left: 1em;
}

@media screen and (min-width: 700px) and (max-width: 850px) {
    .brewery-item {
        width: 70%;
    }
}
@media screen and (min-width: 851px) {
    .brewery-item {
        width: 50%;
        margin-block: 1em;
        letter-spacing: 2px;
    }
}