*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}
main {
    width: 60vw;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.title {
    flex-basis: 100%;
    margin-block: 3em;
    text-align: center;
}
.title h2 {
    margin-bottom: .5em
}
.title p {
    color: rgba(102, 100, 100, 0.911);
    margin-top: 0;
}
.img-container, 
.tab-container {
  flex-basis: 50%;
}

.img-container {
    margin-right: 1em;
}

img {
    width: 350px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.tab-container {
    margin-left: 1em;
    box-shadow: 0px 0px 20px hsla(0, 0%, 42%, 0.5);
}

.tabs {
    display: flex;
}
.tab-btn {
    flex-basis: 100%;
    margin: 0;
    padding-inline: 1em ;
    padding-block: 1em;
    background-color: hsl(0, 3%, 81%);
    border: none;
    font-size: 1.1rem;
}
.tab-btn:hover {
    /* background-color: rgb(156, 155, 155); */
    cursor: pointer;
}
.tab-btn-focus {
    background-color: whitesmoke;
}
.tab-txt {
    padding-inline: 1em;
    line-height: 1.6;
}

@media (max-width: 1220px) {
    main {
        justify-content: center;
    }
    .img-cotnainer,
    .tab-container {
        flex-basis: 100%;
    }
    .img-container {
        margin-right: 0;
        margin-bottom: 2em;
    }
    img {
        width: 70vw;
        height: 40vh;
        margin-bottom: 3em;
    }
    .tab-container {
        width: 80vw;
        margin-left: 0;
    }
}
