*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    width: 100vw;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-center {
    flex-basis: 70vw;
    display: flex;
    justify-content: space-around;
}
.nav-center ul {
    display: flex;
    align-items: center;
}
nav * li {
    list-style: none;
}
nav * li + li {
    margin-left: 2em;
}
li a {
    text-decoration: none;
    color: black;
}
main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
main,
.btn {
    font-family: fantasy;
}
h1 {
    background-color: rgb(39, 38, 38);
    font-size: 3.5rem;
    font-weight: lighter;
    color: blanchedalmond;
    padding-inline: .8em;
    padding-block: .5em;
    margin-bottom: 1em;
    border-radius: 10px;
}
.btn {
    font-size: 2rem;
    padding-inline: 1em;
    padding-block: .5em;
    border: 2px solid black;
    border-radius: 5px;
    background-color:blanchedalmond;
    transition: transform 200ms ease-in-out
    outline 200ms ease-in-out;
}
.btn:hover {
    cursor: pointer;
    outline: 2px solid black;
    outline-offset: 5px;
    transform: scale(.8);
}
